body {text-align:center; color:blue; }
h1 {color: #ff2300 ;}
h2 {color:#a21701;}
ul {list-style-position:inside; } /*Esto lo hago porque por alguna razón los puntos de la lista se quedan a la izquierda */
button{color:white; background-color:#447;}
.error {color:red; font-weight: bold; }
